**/buildNumber.properties
**/catalog\.xml
**/dependency-reduced-pom.xml
**/imported-tests-cdc/
**/.mvn/
**/nb-configuration\.xml
**/pom.xml.next
**/pom.xml.releaseBackup
**/pom.xml.tag
**/pom.xml.versionsBackup
**/release.properties
**/target/
