[submodule "cdsframework-common"]
	path = cdsframework-common
	url = https://github.com/cdsframework/cdsframework-common.git
[submodule "mts-support-core"]
	path = mts-support-core
	url = https://github.com/cdsframework/mts-support-core.git
[submodule "aspectj-tools"]
	path = aspectj-tools
	url = https://github.com/cdsframework/aspectj-tools.git
[submodule "mts-ejb-core"]
	path = mts-ejb-core
	url = https://github.com/cdsframework/mts-ejb-core.git
[submodule "cat-support-xml"]
	path = cat-support-xml
	url = https://github.com/cdsframework/cat-support-xml.git
[submodule "cat-support-core"]
	path = cat-support-core
	url = https://github.com/cdsframework/cat-support-core.git
[submodule "cat-core-primefaces"]
	path = cat-core-primefaces
	url = https://github.com/cdsframework/cat-core-primefaces.git
[submodule "cdsframework-support-xml"]
	path = cdsframework-support-xml
	url = https://github.com/cdsframework/cdsframework-support-xml.git
[submodule "opencds-client-support"]
	path = opencds-client-support
	url = https://github.com/cdsframework/opencds-client-support.git
[submodule "cdsframework-support-client"]
	path = cdsframework-support-client
	url = https://github.com/cdsframework/cdsframework-support-client.git
[submodule "opencds-artifact-deployment"]
	path = opencds-artifact-deployment
	url = https://github.com/cdsframework/opencds-artifact-deployment.git
[submodule "mts-support-cds"]
	path = mts-support-cds
	url = https://github.com/cdsframework/mts-support-cds.git
[submodule "mts-ejb-cds"]
	path = mts-ejb-cds
	url = https://github.com/cdsframework/mts-ejb-cds.git
[submodule "mts-rs-cds"]
	path = mts-rs-cds
	url = https://github.com/cdsframework/mts-rs-cds.git
[submodule "cat-support-cds"]
	path = cat-support-cds
	url = https://github.com/cdsframework/cat-support-cds.git
[submodule "cat-cds-primefaces"]
	path = cat-cds-primefaces
	url = https://github.com/cdsframework/cat-cds-primefaces.git
[submodule "mts-support-ice"]
	path = mts-support-ice
	url = https://github.com/cdsframework/mts-support-ice.git
[submodule "mts-ejb-ice"]
	path = mts-ejb-ice
	url = https://github.com/cdsframework/mts-ejb-ice.git
[submodule "mts-ear-ice"]
	path = mts-ear-ice
	url = https://github.com/cdsframework/mts-ear-ice.git
[submodule "cat-ice-primefaces"]
	path = cat-ice-primefaces
	url = https://github.com/cdsframework/cat-ice-primefaces.git
[submodule "vsac-support-xml"]
	path = vsac-support-xml
	url = https://github.com/cdsframework/vsac-support-xml.git